@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

*{
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #262626;
    color: hsl(180, 100%, 56%);
     
}
.nav-link{
    color: rgb(44, 248, 194);
}


.bannerBgImage{
    height: 100vh;
    background: url("bannerImage.jpg");
    background-size: cover;
    position: relative;
}
.bannerText{
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
span{
    color: rgb(63, 241, 214);
}
.bannerTitle{
    font-size: 4rem;
}
.bannerDesc{
    font-size: 2rem;
}

.card{
   cursor: pointer; 
}

.card:hover{
    background-color: #56c8e4;
    border: 2px solid #5adc3d;
    color: white;
}

.bIcon{
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.img-fluid{
    border-radius: 15px;
}

.img-fluid:hover{

    border: 2px solid rgb(72, 191, 46);
}

.card-img-top{
    height: 50vh;
}

/*-----about------*/
#about{
    padding: 40px ;

}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(80, 226, 236);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
    
}

.tab-contents ul li{
list-style: none;
margin: 10px 0;

}

.tab-contents ul li span{
    color: rgb(55, 218, 180);
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


/*--------project------------*/
#project{
    padding: 40px ;   
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.project-list div{
    background: #f8f5f5;
    color: black;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.project-list div h2{
    font-size: 30px;
    font-weight: 500 ;
    margin-bottom: 15px;
}
.project-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.project-list div:hover{
    background-color: rgb(64, 228, 225) ;
    /* color: #fff; */
    transform: translateY(-10px);
}

#contact{
    padding: 40px ; 
}
#certify{
    padding: 40px ;
}

/* footer */
/* 
.footer {
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
  }
  
  .footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  
  .footer__social {
    margin-bottom: var(--mb-4);
  }
  
  .footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
  }
  
  .footer__copy {
    font-size: var(--smaller-font-size);
  } */
  